<script setup lang="ts">
import { ref,nextTick } from 'vue'

import { type Product } from '@/types/Product'
import { type ReceiptItem } from '@/types/ReceiptItem'

import { provide } from 'vue'
import {useReceiptStore} from '@/stores/receipt'


import ReceiptDetailTable from './ReceiptDetailTable.vue'
import ReceiptCard from './ReceiptCard.vue'
import MemberCard from './MemberCard.vue'
import ProductList from '@/components/ProductList.vue'
import ReceiptDialog from './ReceiptDialog.vue'

const dialog = ref(false)
provide('receiptDialog', dialog)

const receiptStore = useReceiptStore()

const products1: Product[] = [
  { id: 1, name: 'ลาเต้ ร้อน', price: 35.0, type: 1 },
  { id: 2, name: 'ลาเต้ เย็น', price: 35.0, type: 1 },
  { id: 3, name: 'โกโก้ ร้อน', price: 40.0, type: 1 },
  { id: 4, name: 'โกโก้ เย็น', price: 40.0, type: 1 },
  { id: 5, name: 'ชาไทย ร้อน', price: 25.0, type: 1 },
  { id: 6, name: 'ชาไทย เย็น', price: 25.0, type: 1 },
  { id: 7, name: 'มัทฉะ ร้อน', price: 45.0, type: 1 },
  { id: 8, name: 'มัทฉะ เย็น', price: 45.0, type: 1 },
  { id: 9, name: 'นมสด ร้อน', price: 30.0, type: 1 },
  { id: 10, name: 'นมสด เย็น', price: 30.0, type: 1 }
]
const products2: Product[] = [
  { id: 1, name: 'ครอฟเฟิล', price: 35.0, type: 2 },
  { id: 2, name: 'ชิฟฟ่อน', price: 35.0, type: 2 }
]
const products3: Product[] = [
  { id: 1, name: 'สปาเก้ตตี้', price: 35.0, type: 3 },
  { id: 2, name: 'ส้มตำไทย', price: 35.0, type: 3 },
  { id: 3, name: 'แซลม่อนซาชิมิ', price: 40.0, type: 3 }
]

const tab = ref(1)
const selected = (p: Product) => {
  console.log('ProductView: ' + p)
  receiptStore.addReceiptItem(p)
  nextTick(() => {
    if(divReceiptItems.value) divReceiptItems.value.scrollTo(0,divReceiptItems.value.scrollHeight)
  })
}

const showReceipt = function () {
  receiptStore.showReceiptDialog()
}

const divReceiptItems = ref<HTMLElement | null>(null)
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="6" style="background-color: rgb(243, 184, 46)">
        <v-container style="padding: 0">
          <v-row>
            <v-col cols="12">
              <div ref="divReceiptItems" style="height: 300; overflow: auto">
                <v-sheet min-width="300" max-width="790" height="250" elevation="6">
                  <ReceiptDetailTable></ReceiptDetailTable>
                </v-sheet>
              </div>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="790" height="60" elevation="6">
                <MemberCard></MemberCard>
              </v-sheet>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="790" height="100" elevation="6">
                <ReceiptCard></ReceiptCard>
              </v-sheet>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="790" height="80" elevation="6">
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-btn block rounded="xl" size="large" color="secondary" variant="tonal" @click="receiptStore.receiptDialog">ยกเลิก</v-btn>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-btn block rounded="xl" size="large" color="secondary" variant="tonal" @click="showReceipt()">ชำระเงิน</v-btn>
                    </v-col>
                  </v-row>
                </v-container>
              </v-sheet>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="12" md="6" style="background-color: rgb(255, 210, 88)">
        <v-sheet min-width="300" max-width="790" height="700" elevation="6">
          <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
            <v-tab :value="1">Drinks</v-tab>
            <v-tab :value="2">Bakery</v-tab>
            <v-tab :value="3">Foods</v-tab>
          </v-tabs>
          <v-window v-model="tab">
            <v-window-item :value="1">
              <ProductList :products="products1" @selected-product="selected"></ProductList
            ></v-window-item>
            <v-window-item :value="2">
              <ProductList :products="products2" @selected-product="selected"></ProductList
            ></v-window-item>
            <v-window-item :value="3">
              <ProductList :products="products3" @selected-product="selected"></ProductList
            ></v-window-item> </v-window
        ></v-sheet>
      </v-col>
    </v-row>
  </v-container>
  <ReceiptDialog></ReceiptDialog>
</template>
