<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt';
import { inject, type Ref } from 'vue';

const receiptStore = useReceiptStore()
</script>

<template>
    <v-dialog v-model="receiptStore.receiptDialog" persistent width="auto">
        <template v-slot:activator="{ props }">
            <v-btn color="primary" v-bind="props">
                Open Dialog
            </v-btn>
        </template>
        <v-card>
            <v-card-title class="text-h5">
                ใบเสร็จการสั่งซื้อสินค้า
            </v-card-title>
            <v-card-text>รวมทั้งสิ้น {{ receiptStore.receipt.total }} บาท</v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green-darken-1" variant="text" @click="receiptStore.receiptDialog = false">
                    ยกเลิก
                </v-btn>
                <v-btn color="green-darken-1" variant="text" @click="() => {
                        receiptStore.receiptDialog = false
                        receiptStore.clear()
                      }">
                    บันทึก
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>